* {
  box-sizing: border-box;
}

body {
  background-color: #23252C;
}

.main-container{
  /* border-style: solid; */
  background-color: #1A1B21;
  border-color: white;
  margin: 4.5rem 11rem;
  font-family: Helvetica, Arial, sans-serif;
  color: whitesmoke;
  border-radius: 0.5em 0.5em;
  padding-bottom: 0;

}

.info--name{
  margin: 1rem;
  padding: 0rem;
}

.info--position{
  margin: 0.5rem;
  padding: 0rem;
  color: #F3BF99;
}

.info--website{
  margin: 0.25rem;
  padding: 0rem;
}

.info{
  text-align: center;
  
}

.profile-pic{
  margin: auto;
  display: block;
  width: 27rem;
  height: 27rem;
  border-radius: 0.5em 0.5em 0 0;
}


.info--email-button{
  width: 17.5em;
  height: 3em;
  margin: 0.75em;
  padding: 0.75em auto;
  font-size: 1.2em;
}

.about > h2{
  margin-top: 0em;
}

.about{
  /* border-style: solid; */
  margin: 3em 3em;
}

.interests > h2{
  margin-top: 0em;
}

.interests{
  /* border-style: solid; */
  margin: 3em 3em;
}

.footer{
  border-style: solid;
  border-color: #161619;
  background-color: #161619;
  border-radius: 0 0 0.5em 0.5em;

  margin-bottom: 0;
}

.footer--icons{
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 1em;
}